.login-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 40 rpx;
    margin-top: 200 rpx;
    background: #fff;
}

.wx-login-btn {
    margin: 60 rpx 0 40 rpx 0;
    height: 96 rpx;
    line-height: 96 rpx;
    font-size: 30 rpx;
    border-radius: 6 rpx;
    width: 90%;
    color: #fff;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: flex;
    bottom: 0;
    left: 0;
    padding: 0;
    margin-left: 5%;
    text-align: center;
    /* padding-left: -5rpx; */
    border-top-left-radius: 50 rpx;
    border-bottom-left-radius: 50 rpx;
    border-top-right-radius: 50 rpx;
    border-bottom-right-radius: 50 rpx;
    letter-spacing: 3 rpx;
}

.account-login-btn {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    font-size: 30 rpx;
    height: 96 rpx;
    line-height: 96 rpx;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: flex;
    bottom: 0;
    left: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 5%;
    text-align: center;
    /* padding-left: -5rpx; */
    border-top-left-radius: 50 rpx;
    border-bottom-left-radius: 50 rpx;
    border-top-right-radius: 50 rpx;
    border-bottom-right-radius: 50 rpx;
    letter-spacing: 3 rpx;
    background-image: linear-gradient(to right, #9a9ba1 0%, #9a9ba1 100%);
}
