.container {
    margin-bottom: 100 rpx;
}

.goodsimgs {
    width: 750 rpx;
    height: 750 rpx;
}

.goodsimgs image {
    width: 750 rpx;
    height: 750 rpx;
}

.commodity_screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
    overflow: hidden;
    z-index: 1000;
    color: #fff;
}

.commodity_attr_box {
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background: #fff;
    padding-top: 20 rpx;
}

.goods-info {
    width: 750 rpx;
    height: 306 rpx;
    overflow: hidden;
    background: #fff;
}

.goods-info .c {
    display: block;
    width: 718.75 rpx;
    height: 100%;
    margin-left: 31.25 rpx;
    padding: 38 rpx 31.25 rpx 38 rpx 0;
    border-bottom: 1px solid #f4f4f4;
}

.goods-info .c text {
    display: block;
    width: 687.5 rpx;
    text-align: left;
}

.goods_name {
    height: 86 rpx;
    line-height: 86 rpx;
    border-bottom: 1px solid #fafafa;
}

.goods_name_left {
    float: left;
    height: 86 rpx;
    font-weight: 550;
    line-height: 86 rpx;
    margin-left: 35 rpx;
    font-size: 38 rpx;
    letter-spacing: 1 rpx;
}

.goods_name_right {
    float: right;
    font-weight: 550;
    margin-top: 28 rpx;
    width: 140 rpx;
    height: 80 rpx;
    line-height: 82 rpx;
    padding: 0;
    margin: 0;
    margin-right: 0 rpx;
    text-align: center;
    font-size: 25 rpx;
    color: #f4f4f4;
    border-top-left-radius: 50 rpx;
    border-bottom-left-radius: 50 rpx;
    border-top-right-radius: 0 rpx;
    border-bottom-right-radius: 0 rpx;
    letter-spacing: 3 rpx;
    background-image: linear-gradient(to right, #f3d10e 0%, #f48f18 100%)
}

.goods-info .desc {
    height: 43 rpx;
    margin-bottom: 41 rpx;
    font-size: 24 rpx;
    line-height: 36 rpx;
    color: #999;
}

.goods-info .price {
    height: 70 rpx;
    align-content: center;
}

.goods-info .counterPrice {
    float: left;
    padding-left: 0 rpx;
    text-decoration: line-through;
    font-size: 30 rpx;
    color: #999;
}

.goods-info .retailPrice {
    padding-left: 5%;
    font-size: 30 rpx;
    color: #a78845;
}

.goods-info .brand {
    margin-top: 23 rpx;
    min-height: 40 rpx;
    text-align: left;
}

.goods-info .brand text {
    display: inline-block;
    width: auto;
    padding: 2px 30 rpx 2px 10.5 rpx;
    line-height: 35.5 rpx;
    border: 1px solid #f48f18;
    font-size: 25 rpx;
    color: #f48f18;
    border-radius: 4 rpx;
    background-size: 10.75 rpx 18.75 rpx;
}

.section-nav {
    width: 750 rpx;
    height: 108 rpx;
    background: #fff;
    margin-bottom: 20 rpx;
}

.section-nav .t {
    float: left;
    width: 600 rpx;
    height: 108 rpx;
    line-height: 108 rpx;
    font-size: 29 rpx;
    color: #333;
    margin-left: 31.25 rpx;
}

.section-nav .i {
    float: right;
    width: 52 rpx;
    height: 52 rpx;
    margin-right: 16 rpx;
    margin-top: 28 rpx;
}

.section-act .t {
    float: left;
    display: flex;
    align-items: center;
    width: 600 rpx;
    height: 108 rpx;
    overflow: hidden;
    line-height: 108 rpx;
    font-size: 29 rpx;
    color: #999;
    margin-left: 31.25 rpx;
}

.section-act .label {
    color: #999;
}

.section-act .tag {
    display: flex;
    align-items: center;
    padding: 0 10 rpx;
    border-radius: 3px;
    height: 37 rpx;
    width: auto;
    color: #f48f18;
    overflow: hidden;
    border: 1px solid #f48f18;
    font-size: 25 rpx;
    margin: 0 10 rpx;
}

.section-act .text {
    display: flex;
    align-items: center;
    height: 37 rpx;
    width: auto;
    overflow: hidden;
    color: #f48f18;
    font-size: 29 rpx;
}

.comments {
    width: 100%;
    height: auto;
    padding-left: 30 rpx;
    background: #fff;
    margin: 20 rpx 0;
}

.comments .h {
    height: 102.5 rpx;
    line-height: 100.5 rpx;
    width: 718.75 rpx;
    padding-right: 16 rpx;
}

.comments .h .t {
    display: block;
    float: left;
    width: 50%;
    font-size: 30 rpx;
    color: #333;
}

.comments .h .i {
    display: block;
    float: right;
    width: 164 rpx;
    height: 100.5 rpx;
    line-height: 100.5 rpx;
    background-size: 52 rpx;
}

.comments .b {
    height: auto;
    width: 720 rpx;
}

.comments .item {
    height: auto;
    width: 720 rpx;
    overflow: hidden;
    border-top: 1px solid #d9d9d9;
}

.comments .info {
    height: 127 rpx;
    width: 100%;
    padding: 33 rpx 0 27 rpx 0;
}

.comments .user {
    float: left;
    width: auto;
    height: 67 rpx;
    line-height: 67 rpx;
    font-size: 0;
}

.comments .user image {
    float: left;
    width: 67 rpx;
    height: 67 rpx;
    margin-right: 17 rpx;
    border-radius: 50%;
}

.comments .user text {
    display: inline-block;
    width: auto;
    height: 66 rpx;
    overflow: hidden;
    font-size: 29 rpx;
    line-height: 66 rpx;
}

.comments .time {
    display: block;
    float: right;
    width: auto;
    height: 67 rpx;
    line-height: 67 rpx;
    color: #7f7f7f;
    font-size: 25 rpx;
    margin-right: 30 rpx;
}

.comments .content {
    width: 720 rpx;
    padding-right: 30 rpx;
    line-height: 45.8 rpx;
    font-size: 29 rpx;
    margin-bottom: 24 rpx;
}

.comments .imgs {
    width: 720 rpx;
    height: auto;
    margin-bottom: 25 rpx;
}

.comments .imgs .img {
    height: 150 rpx;
    width: 150 rpx;
    margin-right: 28 rpx;
}

.comments .spec {
    width: 720 rpx;
    padding-right: 30 rpx;
    line-height: 30 rpx;
    font-size: 24 rpx;
    color: #999;
    margin-bottom: 30 rpx;
}

.comments .customer-service {
    width: 690 rpx;
    height: auto;
    overflow: hidden;
    margin-top: 23 rpx;
    margin-bottom: 23 rpx;
    background: rgba(0, 0, 0, 0.03);
    padding: 21 rpx;
}

.comments .customer-service .u {
    font-size: 24 rpx;
    color: #333;
    line-height: 37.5 rpx;
}

.comments .customer-service .c {
    font-size: 24 rpx;
    color: #999;
    line-height: 37.5 rpx;
}

.goods-attr {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
    padding: 0 31.25 rpx 25 rpx 31.25 rpx;
    background: #fff;
}

.goods-attr .t {
    width: 687.5 rpx;
    height: 104 rpx;
    line-height: 104 rpx;
    font-size: 38.5 rpx;
}

.goods-attr .item {
    width: 687.5 rpx;
    height: 68 rpx;
    padding: 11 rpx 20 rpx;
    margin-bottom: 11 rpx;
    background: #f7f7f7;
    font-size: 38.5 rpx;
}

.goods-attr .left {
    float: left;
    font-size: 25 rpx;
    width: 134 rpx;
    height: 45 rpx;
    line-height: 45 rpx;
    overflow: hidden;
    color: #999;
}

.goods-attr .right {
    float: left;
    font-size: 36.5 rpx;
    margin-left: 20 rpx;
    width: 480 rpx;
    height: 45 rpx;
    line-height: 45 rpx;
    overflow: hidden;
    color: #333;
}

.detail {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
}

.detail image {
    width: 750 rpx;
    display: block;
}

.common-problem {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
}

.common-problem .h {
    position: relative;
    height: 145.5 rpx;
    width: 750 rpx;
    padding: 56.25 rpx 0;
    background: #fff;
    text-align: center;
}

.common-problem .h .line {
    display: inline-block;
    position: absolute;
    top: 72 rpx;
    left: 0;
    z-index: 2;
    height: 1px;
    margin-left: 225 rpx;
    width: 300 rpx;
    background: #ccc;
}

.common-problem .h .title {
    display: inline-block;
    position: absolute;
    top: 56.125 rpx;
    left: 0;
    z-index: 3;
    height: 33 rpx;
    margin-left: 285 rpx;
    width: 180 rpx;
    background: #fff;
}

.common-problem .b {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
    padding: 0 rpx 30 rpx;
    background: #fff;
}

.common-problem .item {
    height: auto;
    overflow: hidden;
    padding-bottom: 25 rpx;
}

.common-problem .question-box .spot {
    float: left;
    display: block;
    height: 8 rpx;
    width: 8 rpx;
    background: #b4282d;
    border-radius: 50%;
    margin-top: 11 rpx;
}

.common-problem .question-box .question {
    float: left;
    line-height: 30 rpx;
    padding-left: 8 rpx;
    display: block;
    font-size: 26 rpx;
    padding-bottom: 15 rpx;
    color: #303030;
}

.common-problem .answer {
    line-height: 36 rpx;
    padding-left: 16 rpx;
    font-size: 26 rpx;
    color: #787878;
}

.related-goods {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
    padding-bottom: 80 rpx;
}

.related-goods .h {
    position: relative;
    height: 145.5 rpx;
    width: 750 rpx;
    padding: 56.25 rpx 0;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
}

.related-goods .h .line {
    display: inline-block;
    position: absolute;
    top: 72 rpx;
    left: 0;
    z-index: 2;
    height: 1px;
    margin-left: 225 rpx;
    width: 300 rpx;
    background: #ccc;
}

.related-goods .h .title {
    display: inline-block;
    position: absolute;
    top: 56.125 rpx;
    left: 0;
    z-index: 3;
    height: 33 rpx;
    margin-left: 285 rpx;
    width: 180 rpx;
    background: #fff;
}

.related-goods .b {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
}

.related-goods .b .item {
    float: left;
    background: #fff;
    width: 375 rpx;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 15 rpx 31.25 rpx;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.related-goods .item .img {
    width: 311.45 rpx;
    height: 311.45 rpx;
}

.related-goods .item .name {
    display: block;
    width: 311.45 rpx;
    height: 35 rpx;
    margin: 11.5 rpx 0 15 rpx 0;
    text-align: center;
    overflow: hidden;
    font-size: 30 rpx;
    color: #333;
}

.related-goods .item .price {
    display: block;
    width: 311.45 rpx;
    height: 30 rpx;
    text-align: center;
    font-size: 30 rpx;
    color: #b4282d;
}

.bottom-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 750 rpx;
    height: 100 rpx;
    display: flex;
    background: #fff;
}

.bottom-btn .l {
    float: left;
    height: 100 rpx;
    width: 162 rpx;
    border: 1px solid #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-btn .l.l-collect {
    border-right: none;
    border-left: none;
    text-align: center;
    width: 90 rpx;
}

.bottom-btn .l.l-collect .icon {
    position: absolute;
    top: 28 rpx;
    left: 20 rpx;
    font-size: 44 rpx;
}

.bottom-btn .l.l-kefu {
    position: relative;
    height: 54 rpx;
    width: 63 rpx;
}

.bottom-btn .l.l-cart .box {
    position: relative;
    height: 60 rpx;
    width: 60 rpx;
}

.bottom-btn .l.l-cart .cart-count {
    height: 28 rpx;
    width: 28 rpx;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    background: #b4282d;
    text-align: center;
    font-size: 18 rpx;
    color: #fff;
    line-height: 28 rpx;
    border-radius: 50%;
}

.bottom-btn .l.l-cart .icon {
    position: absolute;
    top: 10 rpx;
    left: 0;
    font-size: 44 rpx;
}

.bottom-btn .c {
    float: left;
    background: #b4282d;
    height: 100 rpx;
    line-height: 96 rpx;
    flex: 1;
    text-align: center;
    color: #fff;
}

.bottom-btn .r {
    border: 1px solid #f48f18;
    background: #f48f18;
    float: left;
    height: 100 rpx;
    line-height: 96 rpx;
    flex: 1;
    text-align: center;
    color: #fff;
}


.attr-pop-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
    bottom: 0;
    /* display: none; */
}

.attr-pop {
    width: 100%;
    height: auto;
    max-height: 780 rpx;
    padding: 31.25 rpx;
    background: #fff;
    position: fixed;
    z-index: 9;
    bottom: 100 rpx;
}

.attr-pop .close {
    position: absolute;
    width: 48 rpx;
    height: 48 rpx;
    right: 31.25 rpx;
    overflow: hidden;
    top: 31.25 rpx;
}

.attr-pop .close .icon {
    width: 48 rpx;
    height: 48 rpx;
}

.attr-pop .img-info {
    width: 687.5 rpx;
    height: 177 rpx;
    overflow: hidden;
    margin-bottom: 41.5 rpx;
}

.attr-pop .img {
    float: left;
    height: 177 rpx;
    width: 177 rpx;
    background: #f4f4f4;
    margin-right: 31.25 rpx;
}

.attr-pop .info {
    float: left;
    height: 177 rpx;
    display: flex;
    align-items: center;
}

.attr-pop .p {
    font-size: 33 rpx;
    color: #333;
    height: 33 rpx;
    line-height: 33 rpx;
    margin-bottom: 10 rpx;
}

.attr-pop .a {
    font-size: 29 rpx;
    color: #333;
    height: 40 rpx;
    line-height: 40 rpx;
}

.spec-con {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.spec-con .name {
    margin-bottom: 6 rpx;
    font-size: 29 rpx;
    color: #333;
}

.spec-con .values {
    height: auto;
    margin-bottom: 10 rpx;
    font-size: 0;
}

.spec-con .value {
    display: inline-block;
    height: 62 rpx;
    padding: 0 35 rpx;
    line-height: 56 rpx;
    text-align: center;
    margin-right: 25 rpx;
    margin-bottom: 16.5 rpx;
    border: 1px solid #333;
    font-size: 25 rpx;
    color: #333;
}

.spec-con .value.disable {
    border: 1px solid #ccc;
    color: #ccc;
}

.spec-con .value.selected {
    border: 1px solid #b4282d;
    color: #b4282d;
}

.number-item .selnum {
    width: 322 rpx;
    height: 71 rpx;
    border: 1px solid #ccc;
    display: flex;
}

.number-item .cut {
    width: 93.75 rpx;
    height: 100%;
    text-align: center;
    line-height: 65 rpx;
}

.number-item .number {
    flex: 1;
    height: 100%;
    text-align: center;
    line-height: 68.75 rpx;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
}

.number-item .add {
    width: 93.75 rpx;
    height: 100%;
    text-align: center;
    line-height: 65 rpx;
}

.contact {
    height: 100 rpx;
    width: 100 rpx;
    border-radius: 100%;
    position: fixed;
    bottom: 96 rpx;
    right: 10 rpx;
    font-size: 20 rpx;
    box-sizing: border-box;
    background: url("../../static/images/customer.png") no-repeat center 21 rpx;
    background-size: 55 rpx auto;
}

.share-pop-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
    bottom: 0;
    /* display: none; */
}

.share-pop {
    width: 100%;
    height: auto;
    max-height: 780 rpx;
    padding: 31.25 rpx;
    background: #fff;
    position: fixed;
    z-index: 9;
    bottom: 100 rpx;
}

.share-pop .close {
    position: absolute;
    width: 48 rpx;
    height: 48 rpx;
    right: 31.25 rpx;
    top: 31.25 rpx;
}

.share-pop .close .icon {
    width: 48 rpx;
    height: 48 rpx;
}

.share-pop .share-info {
    width: 100%;
    height: 225 rpx;
    overflow: hidden;
    margin-bottom: 41.5 rpx;
}

.sharebtn {
    top: 75 rpx;
    background: none !important;
    font-size: 32 rpx;
    color: #fff !important;
    border-radius: 0%;
    width: 175 rpx;
    height: 150 rpx;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    background: #fff;
    border-bottom: 0px solid #fafafa;
    margin-left: 15%;
}

.sharebtn::after {
    border: none;
    border-radius: 0%;
}

.savesharebtn {
    top: 75 rpx;
    background: none !important;
    font-size: 32 rpx;
    color: #fff !important;
    border-radius: 0%;
    width: 175 rpx;
    height: 150 rpx;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: right;
    background: #fff;
    border-bottom: 0px solid #fafafa;
    margin-right: 15%;
}

.savesharebtn::after {
    border: none;
    border-radius: 0%;
}

.sharebtn_image {
    /* border: 1px solid #757575; */
    width: 128 rpx;
    height: 128 rpx;
    margin-top: 0 rpx;
}

.sharebtn_text {
    /* border: 1px solid #757575; */
    width: 150 rpx;
    margin-bottom: 2 rpx;
    height: 20 rpx;
    line-height: 20 rpx;
    font-size: 20 rpx;
    color: #555;
}

.separate {
    background: #e0e3da;
    width: 100%;
    height: 6 rpx;
}
