page {
    background: #f4f4f4;
}

.brand-info .name {
    width: 100%;
    height: 290 rpx;
    position: relative;
}

.brand-info .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 290 rpx;
}

.brand-info .info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 290 rpx;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-info .info {
    display: block;
}

.brand-info .txt {
    display: block;
    height: 37.5 rpx;
    font-size: 37.5 rpx;
    color: #fff;
}

.brand-info .line {
    margin: 0 auto;
    margin-top: 16 rpx;
    display: block;
    height: 2 rpx;
    width: 145 rpx;
    background: #fff;
}

.brand-info .desc {
    background: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 41.5 rpx 31.25 rpx;
    font-size: 30 rpx;
    color: #666;
    line-height: 41.5 rpx;
    text-align: center;
}

.cate-item .b {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
    border-top: 1 rpx solid #f4f4f4;
    margin-top: 20 rpx;
}

.cate-item .b .item {
    float: left;
    background: #fff;
    width: 375 rpx;
    padding-bottom: 33.333 rpx;
    border-bottom: 1 rpx solid #f4f4f4;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.cate-item .b .item-b {
    border-right: 1 rpx solid #f4f4f4;
}

.cate-item .item .img {
    margin-top: 10 rpx;
    width: 302 rpx;
    height: 302 rpx;
}

.cate-item .item .name {
    display: block;
    width: 365.625 rpx;
    height: 35 rpx;
    padding: 0 20 rpx;
    overflow: hidden;
    margin: 11.5 rpx 0 22 rpx 0;
    text-align: center;
    font-size: 30 rpx;
    color: #333;
}

.cate-item .item .price {
    display: block;
    width: 365.625 rpx;
    height: 30 rpx;
    text-align: center;
    font-size: 30 rpx;
    color: #b4282d;
}
