page, .container {
    width: 750 rpx;
    height: 100%;
    overflow: hidden;
    background: #f4f4f4;
}

.groupon-list {
    width: 750 rpx;
    height: 100%;
    overflow: hidden;
    background: #f4f4f4;
}

.groupon-list .item {
    height: 244 rpx;
    width: 100%;
    background: #fff;
    margin-bottom: 20 rpx;
}

.groupon-list .img {
    margin-top: 12 rpx;
    margin-right: 12 rpx;
    float: left;
    width: 220 rpx;
    height: 220 rpx;
}

.groupon-list .right {
    float: left;
    height: 244 rpx;
    width: 476 rpx;
    display: flex;
    flex-flow: row nowrap;
}

.groupon-list .text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 244 rpx;
    width: 476 rpx;
}

.groupon-list .name {
    float: left;
    display: block;
    color: #333;
    line-height: 50 rpx;
    font-size: 30 rpx;
}

.groupon-list .desc {
    width: 476 rpx;
    display: block;
    color: #999;
    line-height: 50 rpx;
    font-size: 25 rpx;
}

.groupon-list .price {
    width: 476 rpx;
    display: flex;
    color: #ab956d;
    line-height: 50 rpx;
    font-size: 33 rpx;
}

.groupon-list .counterPrice {
    text-decoration: line-through;
    font-size: 28 rpx;
    color: #999;
}

.groupon-list .retailPrice {
    margin-left: 30 rpx;
    font-size: 28 rpx;
    color: #a78845;
}

.page {
    width: 750 rpx;
    height: 108 rpx;
    background: #fff;
    margin-bottom: 20 rpx;
}

.page view {
    height: 108 rpx;
    width: 50%;
    float: left;
    font-size: 29 rpx;
    color: #333;
    text-align: center;
    line-height: 108 rpx;
}

.page .prev {
    border-right: 1px solid #d9d9d9;
}

.page .disabled {
    color: #ccc;
}
