page {
    background: #f4f4f4;
}

.brand-info .name {
    width: 100%;
    height: 278 rpx;
    position: relative;
}

.brand-info .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 278 rpx;
}

.brand-info .info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 278 rpx;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-info .info {
    display: block;
}

.brand-info .txt {
    display: block;
    height: 40 rpx;
    font-size: 37.5 rpx;
    color: #fff;
}

.brand-info .line {
    margin: 0 auto;
    margin-top: 16 rpx;
    display: block;
    height: 2 rpx;
    width: 145 rpx;
    background: #fff;
}

.sort {
    position: relative;
    background: #fff;
    width: 100%;
    height: 78 rpx;
}

.sort-box {
    background: #fff;
    width: 100%;
    height: 78 rpx;
    overflow: hidden;
    padding: 0 30 rpx;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

.sort-box .item {
    height: 78 rpx;
    line-height: 78 rpx;
    text-align: center;
    flex: 1;
    color: #333;
    font-size: 30 rpx;
}

.sort-box .item .txt {
    color: #333;
}

.sort-box .item.active .txt {
    color: #b4282d;
}

.sort-box .item .van-icon {
    margin-left: 6 rpx;
}

.sort-box-category {
    background: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 40 rpx 40 rpx 0 0;
    border-bottom: 1px solid #d9d9d9;
}

.sort-box-category .item {
    height: 54 rpx;
    line-height: 54 rpx;
    text-align: center;
    float: left;
    padding: 0 16 rpx;
    margin: 0 0 40 rpx 40 rpx;
    border: 1px solid #666;
    color: #333;
    font-size: 24 rpx;
}

.sort-box-category .item.active {
    color: #b4282d;
    border: 1px solid #b4282d;
}

.cate-item .b {
    width: 750 rpx;
    height: auto;
    overflow: hidden;
    border-top: 1 rpx solid #f4f4f4;
    margin-top: 20 rpx;
}

.cate-item .b .item {
    float: left;
    background: #fff;
    width: 375 rpx;
    padding-bottom: 33.333 rpx;
    border-bottom: 1 rpx solid #f4f4f4;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.cate-item .b .item-b {
    border-right: 1 rpx solid #f4f4f4;
}

.cate-item .item .img {
    margin-top: 10 rpx;
    width: 302 rpx;
    height: 302 rpx;
}

.cate-item .item .name {
    display: block;
    width: 365.625 rpx;
    height: 35 rpx;
    padding: 0 20 rpx;
    overflow: hidden;
    margin: 11.5 rpx 0 22 rpx 0;
    text-align: center;
    font-size: 30 rpx;
    color: #333;
}

.cate-item .item .price {
    display: block;
    width: 365.625 rpx;
    height: 30 rpx;
    text-align: center;
    font-size: 30 rpx;
    color: #b4282d;
}
