page {
    background: #f4f4f4;
    min-height: 100%;
}

.container {
    background: #f4f4f4;
    min-height: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.no-collect {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.no-collect .c {
    width: 100%;
    height: auto;
    margin-top: 400 rpx;
}

.no-collect .c text {
    margin: 0 auto;
    display: block;
    width: 258 rpx;
    height: 29 rpx;
    line-height: 29 rpx;
    text-align: center;
    font-size: 29 rpx;
    color: #999;
}

.collect-list {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    padding-left: 30 rpx;
    border-top: 1px solid #e1e1e1;
}

.item {
    height: 212 rpx;
    width: 720 rpx;
    background: #fff;
    padding: 30 rpx 30 rpx 30 rpx 0;
    border-bottom: 1px solid #e1e1e1;
}

.item:last-child {
    border-bottom: 1px solid #fff;
}

.item .img {
    float: left;
    width: 150 rpx;
    height: 150 rpx;
}

.item .info {
    float: right;
    width: 540 rpx;
    height: 150 rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20 rpx;
}

.item .info .name {
    font-size: 28 rpx;
    color: #333;
    line-height: 40 rpx;
}

.item .info .subtitle {
    margin-top: 8 rpx;
    font-size: 24 rpx;
    color: #888;
    line-height: 40 rpx;
}

.item .info .price {
    margin-top: 8 rpx;
    font-size: 28 rpx;
    color: #333;
    line-height: 40 rpx;
}
