.brand-list .item {
    display: block;
    width: 750 rpx;
    height: 416 rpx;
    position: relative;
    margin-bottom: 4 rpx;
}

.brand-list .item .img-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 750 rpx;
    height: 417 rpx;
    overflow: hidden;
}

.brand-list .item .img-bg image {
    width: 750 rpx;
    height: 416 rpx;
}

.brand-list .item .txt-box {
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    z-index: 0;
    width: 750 rpx;
    height: 417 rpx;
}

.brand-list .item .line {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 63 rpx;
    line-height: 63 rpx;
}

.brand-list .item .line text {
    font-size: 35 rpx;
    font-weight: 700;
    text-shadow: 1 rpx 1 rpx rgba(0, 0, 0, 0.32);
    color: #fff;
}

.brand-list .item .line .s {
    padding: 0 10 rpx;
    font-size: 40 rpx;
}
