page {
    height: 100%;
    width: 100%;
    background: #f4f4f4;
}

.progress {
    padding-top: 25 rpx;
    background: #fff;
    height: auto;
    overflow: hidden;
}

.item-a {
    padding: 0 21.25 rpx;
}

.item-c {
    margin-left: 31.25 rpx;
    height: 103 rpx;
    line-height: 103 rpx;
}

.item-c .l {
    float: left;
}

.item-c .r {
    height: 103 rpx;
    float: right;
    display: flex;
    align-items: center;
    padding-right: 16 rpx;
}

.item-c .btn {
    float: right;
    line-height: 66 rpx;
    font-size: 30 rpx;
    border-radius: 5 rpx;
    text-align: center;
    margin: 0 15 rpx;
    padding: 0 20 rpx;
    height: 66 rpx;
}

.item-c .btn.active {
    background: #a78845;
    color: #fff;
}

.order-goods {
    margin-top: 20 rpx;
    background: #fff;
}

.order-goods .h {
    height: 93.75 rpx;
    line-height: 93.75 rpx;
    margin-left: 31.25 rpx;
    border-bottom: 1px solid #f4f4f4;
    padding-right: 31.25 rpx;
}

.order-goods .h .label {
    float: left;
    font-size: 30 rpx;
    color: #333;
}

.order-goods .h .status {
    float: right;
    font-size: 30 rpx;
    color: #b4282d;
}

.order-goods .item {
    display: flex;
    align-items: center;
    height: 192 rpx;
    margin-left: 31.25 rpx;
    padding-right: 31.25 rpx;
    border-bottom: 1px solid #f4f4f4;
}

.order-goods .item:last-child {
    border-bottom: none;
}

.order-goods .item .img {
    height: 145.83 rpx;
    width: 145.83 rpx;
    background: #f4f4f4;
}

.order-goods .item .img image {
    height: 145.83 rpx;
    width: 145.83 rpx;
}

.order-goods .item .info {
    flex: 1;
    height: 145.83 rpx;
    margin-left: 20 rpx;
}

.order-goods .item .t {
    margin-top: 8 rpx;
    height: 33 rpx;
    line-height: 33 rpx;
    margin-bottom: 10.5 rpx;
}

.order-goods .item .t .name {
    display: block;
    float: left;
    height: 33 rpx;
    line-height: 33 rpx;
    color: #333;
    font-size: 30 rpx;
}

.order-goods .item .t .number {
    display: block;
    float: right;
    height: 33 rpx;
    text-align: right;
    line-height: 33 rpx;
    color: #333;
    font-size: 30 rpx;
}

.order-goods .item .attr {
    height: 29 rpx;
    line-height: 29 rpx;
    color: #666;
    margin-bottom: 25 rpx;
    font-size: 25 rpx;
}

.order-goods .item .price {
    display: block;
    float: left;
    height: 30 rpx;
    line-height: 30 rpx;
    color: #333;
    font-size: 30 rpx;
}

.order-goods .item .btn {
    height: 50 rpx;
    line-height: 50 rpx;
    border-radius: 5 rpx;
    text-align: center;
    display: block;
    float: right;
    margin: 0 15 rpx;
    padding: 0 20 rpx;
}

.order-goods .item .btn.active {
    background: #b4282d;
    color: #fff;
}

.order-bottom {
    margin-top: 20 rpx;
    padding-left: 31.25 rpx;
    height: auto;
    overflow: hidden;
    background: #fff;
}

.order-bottom .address {
    height: 128 rpx;
    padding-top: 25 rpx;
    border-bottom: 1px solid #f4f4f4;
}

.order-bottom .address .t {
    height: 35 rpx;
    line-height: 35 rpx;
    margin-bottom: 7.5 rpx;
}

.order-bottom .address .name {
    display: inline-block;
    height: 35 rpx;
    width: 140 rpx;
    line-height: 35 rpx;
    font-size: 30 rpx;
}

.order-bottom .address .mobile {
    display: inline-block;
    height: 35 rpx;
    line-height: 35 rpx;
    font-size: 30 rpx;
}

.order-bottom .address .b {
    height: 35 rpx;
    line-height: 35 rpx;
    font-size: 30 rpx;
}

.order-bottom .total {
    height: 106 rpx;
    padding-top: 20 rpx;
    border-bottom: 1px solid #f4f4f4;
}

.order-bottom .total .t {
    height: 30 rpx;
    line-height: 30 rpx;
    margin-bottom: 7.5 rpx;
}

.order-bottom .total .t .label {
    width: 150 rpx;
    height: 35 rpx;
    line-height: 35 rpx;
    font-size: 30 rpx;
}

.order-bottom .total .t .txt {
    float: right;
    height: 35 rpx;
    line-height: 35 rpx;
    font-size: 30 rpx;
    padding-right: 31.25 rpx;
}

.order-bottom .pay-fee {
    height: 81 rpx;
    line-height: 81 rpx;
}

.order-bottom .pay-fee .label {
    width: 140 rpx;
}

.order-bottom .pay-fee .txt {
    float: right;
    padding-right: 31.25 rpx;
}

.menu-list-pro {
    margin-top: 20 rpx;
    overflow-x: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 260 rpx;
    width: 100%;
    overflow: hidden;
    border-bottom: 1 rpx #cfc9ca;
    background-color: #fff;
}

.menu-list-pro .h {
    height: 93.75 rpx;
    line-height: 93.75 rpx;
    margin-left: 31.25 rpx;
    border-bottom: 1px solid #f4f4f4;
    padding-right: 31.25 rpx;
}

.menu-list-pro .h .label {
    float: left;
    font-size: 30 rpx;
    color: #333;
}

.menu-list-pro .h .status {
    float: right;
    font-size: 30 rpx;
    color: #a78845;
}

.menu-list-pro .menu-list-item {
    display: block;
    float: left;
    height: 110 rpx;
    width: 80 rpx;
    margin-top: 30 rpx;
    margin-bottom: 30 rpx;
    margin-left: 40 rpx;
}

.menu-list-pro .icon {
    height: 80 rpx;
    width: 80 rpx;
    border-radius: 12 rpx;
    box-shadow: 0px 4 rpx 4 rpx 0px #cfc9ca;
}

.menu-list-pro .txt {
    display: block;
    float: left;
    width: 80 rpx;
    margin-top: 5 rpx;
    font-size: 22 rpx;
    color: #a78845;
}
